@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 58px;
  line-height: 70px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #003c8f;
}

.main-container {
  max-width: 1400px;
  margin: 0 auto;
  /* display: grid;
  padding: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40% 8% 8% 8% 1fr; */
}
