@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.main-container {
  max-width: 1400px;
  margin: 0 auto;
  /* display: grid;
  padding: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40% 8% 8% 8% 1fr; */
}
